.button {
    -fx-background-color: #4e6882;
    -fx-text-fill: white;
}

.button Text {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.9), 1, 0.0, 0, 1);
}

.button:hover {
    -fx-background-color: #445c75;
    -fx-cursor: hand;
}

.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background;
}

.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background;
}

#pane1, #pane2, #pane3, #pane4, #pane5, #pane6, #pane7, #pane8, #pane9, #pane10, #pane11, #pane12, #pane13, #pane14 {
    -fx-background-image: url("../client/resources/background.jpg");
}

.chart-pie-label {
    -fx-fill: #ffffff;
    -fx-font-size: 1em;
}